<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Most popular routes</h2>
  </div>
<div id="globe" class="mdl-shadow--2dp"></div>
<script type="text/javascript">
	
var data = [
			<% routes.each do |route|  %>
			{ type: 'scattergeo',
				name: "<%= route.origin.name %> - <%= route.destination.name %>",
	      lat: [ <%= route.origin.lat %>, <%= route.destination.lat %> ],
	      lon: [ <%= route.origin.lng %>, <%= route.destination.lng %> ],
	      mode: 'lines',
	      line:{
	          width: 2,
	          color: ['rgb(213,62,79)','rgb(244,109,67)','rgb(253,174,97)','rgb(254,224,139)','rgb(255,255,191)','rgb(230,245,152)','rgb(171,221,164)','rgb(102,194,165)','rgb(50,136,189)'].sample
	      }
	    },
			<% end %>
    ];
   	

  	console.log(data)
    var layout = {
        geo: {
            projection: {
                type: 'orthographic',
                rotation: {
                    lon: -100,
                    lat: 40
                },
            },
            showocean: true,
            oceancolor: 'rgb(0, 255, 255)',
            showland: true,
            landcolor: 'rgb(230, 145, 56)',
            showlakes: true,
            lakecolor: 'rgb(0, 255, 255)',
            showcountries: true,
            lonaxis: {
                showgrid: true,
                gridcolor: 'rgb(102, 102, 102)'
            },
            lataxis: {
                showgrid: true,
                gridcolor: 'rgb(102, 102, 102)'
            }
        }
 };
  
Plotly.plot(globe, data, layout, {showLink: false});
  
</script>