<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp">
		<%= render 'shipments', shipments: @in_transit, status: 'in transit' %>
	</div>
	<div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp">
		 <%= render 'shipments', shipments: @received, status: 'received' %>
	</div>
	<div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp">
		 <%= render 'shipments', shipments: @completed, status: 'completed' %>
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
		<%= render 'service', freight_types: @freight_types %>
	</div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
		<%= render 'globe', routes: @most_popular_routes %>
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp">
		<%= render 'routes_table', routes: @most_popular_routes %>
	</div>
</div>